@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app_container {
  display: flex;
  justify-content: center;
  /* width: var(--screen-width); */
}

button {
  outline: none;
  border: 1px solid transparent;
  font-size: 14px;
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: all ease 0.25s;
}

.button.medium {
  width: var(--tablet-button-width);
  padding: 12px 0;
}

.button.small {
  width: 110px;
  padding: 10px 0;
}

button:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
}

.paragraph {
  font-size: 15px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 1.6;
}

:root {
  --primary-color: #29b363;
  --white-color: #ffffff;
  --paragraph-color: rgba(126, 126, 126, 1);
  --blue-color: #2c7edb;
  --screen-width: 1920px;
  --tablet-width: 970px;
  --mobile-width: 380px;
  --tablet-button-width: 220px;
  --mobile-button-width: 128px;
  --tablet-logo-size: 60px;
  --mobile-logo-size: 40px;
  --tablet-avatar-size: 50px;
  --mobile-avatar-size: 40px;
}

@media only screen and (max-width: 381px) {
  .paragraph {
    font-size: 14px;
    font-weight: 400;
    color: var(--paragraph-color);
    line-height: 1.3;
  }
  button {
    font-size: 12px;
  }

  .button.medium {
    width: var(--mobile-button-width);
    padding: 8px 0;
  }
}
