#footer {
  width: var(--table-width);

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 64px;
}

.customParagraph {
  font-size: 12.2px !important;
  font-weight: 400 !important;
  text-align: center;
  color: rgba(160, 160, 160, 1) !important ;
}

.copyRight {
  align-self: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 381px) {
  #footer {
    width: var(--mobile-width);
    padding: 0 14px;
  }

  #footer p br {
    display: none;
  }

  .customParagraph {
    font-size: 12px !important;
    text-align: center;
  }
}
