#footer {
  width: var(--tablet-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customParagraph {
  font-size: 14px !important;
  font-weight: 400 !important;
  text-align: center;
  color: rgba(160, 160, 160, 1) !important ;
}

.copyRight {
  align-self: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
